# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.find-way.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jonny\Documents\Project\find-way\.idea\.idea.find-way\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
